*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* This makes 1rem = 10px, simplifying responsive font sizing */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  /* Sets default body font size to 16px */
}

.parent{
min-height: 100vh;
  width: 100%;
  background-color: #1111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card{
  height: 350px;
  width: 350px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.top img{
  height: 40px;
  width: 38px;
  border-radius: 50%;
  border: 1px solid#dadada;
  padding: 2px;
}

.top button{
  float: right;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 5px;
  gap: 8px;
  background-color: transparent;
  color: #dadada;
}

.center{
background-color: transparent;
}

.center h3{
  font-size: 18px;
  font-weight: 600;
}
.center h3 span{
  font-size: 8px;
  font-weight:400;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 15px;
  background-color: #dadada;
  color: black;
  padding: 4px 6px;
  font-weight: 500;
  border-radius: 5px;
}
.bottom{
  float: right;
  justify-content: space-between;
  border-top: 1.5px solid #e1dede;
  padding-top: 15px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  float: right;
}
.bottom h3{
  font-size: 12px;  
color: #8b8b8b;
}